body {
    margin-top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h4 small {
    color: black;
}

h2 small {
    color: rgba(40, 40, 150, .7);
    font-style: italic;
}

.btn-sm{
    margin: 3px 3px;
    display: inline-block;
}

.navbar-brand {
    margin-left: 5em;
}

.no-list-style {
    list-style-type: none;
}

a.no-underline {
    text-decoration: none;
}

.glyphicon{
    margin-top: 7px;
}

input[type="text"]{
    border-radius: 5px;
    padding-left:  10px;

}

.makeInline{
    display: inline-block;
    margin-left: 15px;
}

.giveMeLightBlue{
    color: lightblue;
}






